# Dependency directories
/node_modules

# Output directories
/dist
/out

# Misc
.DS_Store

# Logs
*.log*

# Tests
/coverage

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
